In [96]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
dftrain=pd.read_csv(("Data Science ZExercise_TRAINING_CONFIDENTIAL1.csv"))
dftest = pd.read_csv("Data Science ZExercise_TEST_CONFIDENTIAL2.csv")

In [97]:
dftrain.head()

,PropertyID,SaleDollarCnt,TransDate,censusblockgroup,ZoneCodeCounty,Usecode,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,...,Latitude,Longitude,BGMedHomeValue,BGMedRent,BGMedYearBuilt,BGPctOwn,BGPctVacant,BGMedIncome,BGPctKids,BGMedAge
0,48648941,285000.0,5/23/2015,5.300000e+11,R7,9,4.0,2.00,1900.0,480.0,...,47321389,-122213716,107800.0,844.0,1975.0,0.6685,0.0780,42854,0.1924,48.6
1,48648982,309950.0,8/22/2015,5.300000e+11,R8P,9,3.0,2.00,2170.0,320.0,...,47482082,-122244269,181500.0,925.0,1969.0,0.5753,0.0192,54013,0.3718,42.6
2,48649024,476000.0,8/27/2015,5.300000e+11,SF 7200,9,4.0,1.00,2150.0,590.0,...,47561383,-122308083,344300.0,733.0,1946.0,0.6331,0.0000,56782,0.3207,40.7
3,48649040,324950.0,7/1/2015,5.300000e+11,R1,9,4.0,2.25,2560.0,NaN,...,47387929,-122279389,284200.0,900.0,1977.0,0.5456,0.0573,44200,0.3359,40.0
4,48649057,325000.0,6/20/2015,5.300000e+11,LDR,9,4.0,1.75,1720.0,NaN,...,47477068,-122263852,290100.0,802.0,1972.0,0.4267,0.0551,65282,0.1633,44.4

In [98]:
dftest.head()

,PropertyID,SaleDollarCnt,TransDate,censusblockgroup,ZoneCodeCounty,Usecode,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,...,Latitude,Longitude,BGMedHomeValue,BGMedRent,BGMedYearBuilt,BGPctOwn,BGPctVacant,BGMedIncome,BGPctKids,BGMedAge
0,48735321,NaN,10/31/2015,5.300000e+11,SF 9600,9,5.0,4.0,5540,NaN,...,47725642,-122283771,527700.0,1750.0,1956.0,0.9134,0.1061,113450,0.2524,49.6
1,48735471,NaN,11/6/2015,5.300000e+11,SF 9600,9,5.0,3.0,2470,510.0,...,47726993,-122281969,527700.0,1750.0,1956.0,0.9134,0.1061,113450,0.2524,49.6
2,49128764,NaN,10/17/2015,5.300000e+11,SF 7200,9,4.0,2.0,1680,NaN,...,47731749,-122289304,527700.0,1750.0,1956.0,0.9134,0.1061,113450,0.2524,49.6
3,48897535,NaN,11/19/2015,5.300000e+11,SF 7200,9,2.0,1.0,990,260.0,...,47728810,-122289224,527700.0,1750.0,1956.0,0.9134,0.1061,113450,0.2524,49.6
4,49083957,NaN,12/15/2015,5.300000e+11,SF 9600,9,4.0,3.0,2960,550.0,...,47731170,-122282684,527700.0,1750.0,1956.0,0.9134,0.1061,113450,0.2524,49.6

In [5]:
dftest.isna().sum()

PropertyID               0
SaleDollarCnt         4402
TransDate                0
censusblockgroup         0
ZoneCodeCounty           0
Usecode                  0
BedroomCnt               0
BathroomCnt              0
FinishedSquareFeet       0
GarageSquareFeet      1138
LotSizeSquareFeet        0
StoryCnt                 0
BuiltYear                0
ViewType              3404
Latitude                 0
Longitude                0
BGMedHomeValue           7
BGMedRent              963
BGMedYearBuilt          62
BGPctOwn                 0
BGPctVacant              0
BGMedIncome              0
BGPctKids                0
BGMedAge                 0
dtype: int64

In [6]:
dftrain.shape

(11588, 24)

In [7]:
dftest.shape

(4402, 24)

In [8]:

# Function to calculate missing values by column# Funct 
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [9]:
missing_values_table(dftest)

Your selected dataframe has 24 columns.
There are 6 columns that have missing values.

                  Missing Values  % of Total Values
SaleDollarCnt               4402              100.0
ViewType                    3404               77.3
GarageSquareFeet            1138               25.9
BGMedRent                    963               21.9
BGMedYearBuilt                62                1.4
BGMedHomeValue                 7                0.2

In [10]:
missing_values_table(dftrain)

Your selected dataframe has 24 columns.
There are 5 columns that have missing values.

                  Missing Values  % of Total Values
ViewType                    8956               77.3
GarageSquareFeet            2841               24.5
BGMedRent                   2631               22.7
BGMedYearBuilt               247                2.1
BGMedHomeValue                 6                0.1

In [11]:
print("Shape of dftrain is : ",dftrain.shape)
dftrain_y=pd.DataFrame(dftrain['SaleDollarCnt'])
dftrain_X=dftrain.drop(['SaleDollarCnt'],axis=1)
print("Shape of X is : ",dftrain_X.shape)

Shape of dftrain is :  (11588, 24)
Shape of X is :  (11588, 23)

In [12]:
print("Shape of dftest is : ",dftest.shape)
dftest_y=pd.DataFrame(dftest['SaleDollarCnt'])
dftest_X=dftest.drop(['SaleDollarCnt'],axis=1)
print("Shape of X is : ",dftest_X.shape)
print(dftest_y.shape)

Shape of dftest is :  (4402, 24)
Shape of X is :  (4402, 23)
(4402, 1)

In [14]:
dftest_X.dtypes=="object"

PropertyID            False
TransDate              True
censusblockgroup      False
ZoneCodeCounty         True
Usecode               False
BedroomCnt            False
BathroomCnt           False
FinishedSquareFeet    False
GarageSquareFeet      False
LotSizeSquareFeet     False
StoryCnt              False
BuiltYear             False
ViewType              False
Latitude              False
Longitude             False
BGMedHomeValue        False
BGMedRent             False
BGMedYearBuilt        False
BGPctOwn              False
BGPctVacant           False
BGMedIncome           False
BGPctKids             False
BGMedAge              False
dtype: bool

In [16]:
dftrain_X["TransDate"]= dftrain_X.TransDate.str.slice(0,1)
dftrain_X.head()

,PropertyID,TransDate,censusblockgroup,ZoneCodeCounty,Usecode,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,...,Latitude,Longitude,BGMedHomeValue,BGMedRent,BGMedYearBuilt,BGPctOwn,BGPctVacant,BGMedIncome,BGPctKids,BGMedAge
0,48648941,5,5.300000e+11,R7,9,4.0,2.00,1900.0,480.0,7482,...,47321389,-122213716,107800.0,844.0,1975.0,0.6685,0.0780,42854,0.1924,48.6
1,48648982,8,5.300000e+11,R8P,9,3.0,2.00,2170.0,320.0,14208,...,47482082,-122244269,181500.0,925.0,1969.0,0.5753,0.0192,54013,0.3718,42.6
2,48649024,8,5.300000e+11,SF 7200,9,4.0,1.00,2150.0,590.0,6500,...,47561383,-122308083,344300.0,733.0,1946.0,0.6331,0.0000,56782,0.3207,40.7
3,48649040,7,5.300000e+11,R1,9,4.0,2.25,2560.0,NaN,15767,...,47387929,-122279389,284200.0,900.0,1977.0,0.5456,0.0573,44200,0.3359,40.0
4,48649057,6,5.300000e+11,LDR,9,4.0,1.75,1720.0,NaN,8620,...,47477068,-122263852,290100.0,802.0,1972.0,0.4267,0.0551,65282,0.1633,44.4

In [37]:
dftrain_X.ZoneCodeCounty.value_counts()

SF 5000    2243
R6         1363
R4         1120
RA5         622
R5          607
SF 7200     465
R8          416
SR6         354
RS7200      270
R3.5        260
RS7.2       252
RSA 6       218
R1          200
RA2.5       182
MU          178
R6P         145
R7          144
RSX 7.2     121
RS9.6       110
URPSO        89
UL7200       84
R9.6         84
RS 8.5       84
LDR          83
SR4.5        83
R2           72
R15          71
UV           70
LR1          65
RS 7.2       55
           ...
NC365         1
BO            1
MUR35         1
CBSO          1
LR2 RC        1
RSX 8.5       1
AI1           1
MRG           1
NCC           1
RMF           1
OS2           1
PLA 3C        1
R6C           1
RM18          1
TC4           1
T             1
RSE           1
RS 11         1
RM24          1
IG2 U65       1
MSC 4         1
R 40000       1
IB U85        1
SR30          1
PRR           1
MDR           1
GDC           1
RS35.0        1
MC            1
DC            1
Name: ZoneCodeCounty, Length: 178, dtype: int64

In [38]:
dftest_X.ZoneCodeCounty.value_counts()

SF 5000         818
R6              499
R4              424
RA5             222
R5              215
SF 7200         213
SR6             153
R8              147
RS7200          130
RS7.2           113
R3.5             99
RSA 6            90
RA2.5            66
R7               59
R1               58
MU               56
R6P              49
RS9.6            46
RSX 7.2          45
UL7200           41
LDR              40
RS 8.5           36
URPSO            30
R2               29
LR1              28
SR4.5            26
RS 7.2           25
R2.5             24
R9.6             23
R 9600           20
               ...
PRR               1
RS                1
SR30              1
NC130             1
TC                1
NC2P40            1
SFR 10.0          1
R7.5              1
MRRC              1
MRG               1
C2                1
RSA 1             1
RIN SINGLE F      1
CR                1
PR                1
MU12              1
UHUCR             1
TL 10A            1
RA10PSO           1
R12P              1
RMF               1
RM12              1
SFD               1
T                 1
MR                1
R18P              1
RA2.5P            1
NC240             1
RM18              1
DNTNMU            1
Name: ZoneCodeCounty, Length: 143, dtype: int64

In [41]:
zonedf2=pd.DataFrame(data=dftest,columns=['ZoneCodeCounty','SaleDollarCnt'])
zonedf2.head()

  ZoneCodeCounty  SaleDollarCnt
0        SF 9600            NaN
1        SF 9600            NaN
2        SF 7200            NaN
3        SF 7200            NaN
4        SF 9600            NaN

In [42]:
zonedf1=pd.DataFrame(data=dftrain,columns=['ZoneCodeCounty','SaleDollarCnt'])
zonedf1.head()

  ZoneCodeCounty  SaleDollarCnt
0             R7       285000.0
1            R8P       309950.0
2        SF 7200       476000.0
3             R1       324950.0
4            LDR       325000.0

In [43]:
zone1=zonedf1.groupby('ZoneCodeCounty').mean()
zone1["count"]=zonedf1.groupby('ZoneCodeCounty').count()
zone1

                SaleDollarCnt  count
ZoneCodeCounty
A10              4.618250e+05     16
A35              4.068126e+05     13
AI1              2.825000e+05      1
BO               3.150000e+05      1
C1               2.055750e+05      6
C140             3.967500e+05      2
CB               3.214333e+05      3
CBSO             2.499500e+05      1
CM2              1.549000e+05      1
DC               2.500000e+05      1
DCE              1.900000e+05      1
DUC              2.200000e+05      2
F                2.628250e+05      8
GDC              6.645000e+05      1
I                3.584750e+05      2
IB U85           2.750000e+05      1
IG2 U65          2.695000e+05      1
LDR              4.103939e+05     83
LR1              6.167631e+05     65
LR2              5.393516e+05     38
LR2 RC           3.390000e+05      1
LR3              5.985191e+05     38
LR3 RC           3.410000e+05      2
MC               2.910000e+05      1
MDR              2.500000e+05      1
MFM              7.966693e+05      3
MHO              2.645000e+05      2
MRD              2.472667e+05      9
MRG              3.238800e+05      1
MRM              2.550000e+05      3
...                       ...    ...
RSX 35           1.204000e+06      4
RSX 7.2          6.920782e+05    121
RSX 8.5          5.380000e+05      1
SF 5000          7.009578e+05   2243
SF 7200          6.808870e+05    465
SF 9600          1.293949e+06     36
SFD              4.138125e+05      8
SFE              7.235929e+05      7
SFR 10.0         1.410000e+06      1
SFS              7.225824e+05     54
SFSL             8.182029e+05     33
SR1              4.458000e+05      6
SR3              4.245069e+05     29
SR30             1.683000e+06      1
SR4.5            3.733027e+05     83
SR6              3.171909e+05    354
SR8              3.361533e+05     32
SVV              5.000000e+05      1
T                2.750000e+05      1
TC               3.836333e+05      3
TC4              4.100000e+05      1
UL15000          3.325000e+05      3
UL7200           2.882157e+05     84
UL9600           1.900000e+05      2
UM2400           2.144750e+05      2
UR               3.343276e+05     45
URPSO            6.732950e+05     89
UV               7.296507e+05     70
UVEV             7.858723e+05     40
WD II            2.525000e+06      2

[178 rows x 2 columns]

In [44]:
zone2=zonedf2.groupby('ZoneCodeCounty').mean()
zone2["count"]=zonedf2.groupby('ZoneCodeCounty').count()
zone2

                SaleDollarCnt  count
ZoneCodeCounty
A10                       NaN      0
A35                       NaN      0
C1                        NaN      0
C2                        NaN      0
CR                        NaN      0
DC                        NaN      0
DCE                       NaN      0
DNTNMU                    NaN      0
EP                        NaN      0
F                         NaN      0
LDR                       NaN      0
LR1                       NaN      0
LR2                       NaN      0
LR3                       NaN      0
MFM                       NaN      0
MR                        NaN      0
MRG                       NaN      0
MRRC                      NaN      0
MRT16                     NaN      0
MU                        NaN      0
MU12                      NaN      0
MUR45                     NaN      0
MUR70                     NaN      0
NC130                     NaN      0
NC240                     NaN      0
NC2P40                    NaN      0
O                         NaN      0
PR                        NaN      0
PRR                       NaN      0
PUD                       NaN      0
...                       ...    ...
RSA 6                     NaN      0
RSA 8                     NaN      0
RSLTC                     NaN      0
RSX 7.2                   NaN      0
RSX 8.5                   NaN      0
SF 5000                   NaN      0
SF 7200                   NaN      0
SF 9600                   NaN      0
SFD                       NaN      0
SFE                       NaN      0
SFR 10.0                  NaN      0
SFS                       NaN      0
SFSL                      NaN      0
SR1                       NaN      0
SR3                       NaN      0
SR30                      NaN      0
SR4.5                     NaN      0
SR6                       NaN      0
SR8                       NaN      0
SVV                       NaN      0
T                         NaN      0
TC                        NaN      0
TL 10A                    NaN      0
UHUCR                     NaN      0
UL7200                    NaN      0
UR                        NaN      0
URPSO                     NaN      0
US R1                     NaN      0
UV                        NaN      0
UVEV                      NaN      0

[143 rows x 2 columns]

In [17]:
datedf1=pd.DataFrame(data=dftrain,columns=['TransDate','SaleDollarCnt'])
datedf1.head()

   TransDate  SaleDollarCnt
0  5/23/2015       285000.0
1  8/22/2015       309950.0
2  8/27/2015       476000.0
3   7/1/2015       324950.0
4  6/20/2015       325000.0

In [28]:
datedf2=pd.DataFrame(data=dftest,columns=['TransDate','SaleDollarCnt'])
datedf2.head()

    TransDate  SaleDollarCnt
0  10/31/2015            NaN
1   11/6/2015            NaN
2  10/17/2015            NaN
3  11/19/2015            NaN
4  12/15/2015            NaN

In [18]:

import matplotlib.pyplot as plt
%matplotlib inline

datedf1['TransDate'] = pd.to_datetime(datedf1['TransDate'])

In [29]:
datedf2['TransDate'] = pd.to_datetime(datedf2['TransDate'])

In [20]:
datedf1.head()

   TransDate  SaleDollarCnt
0 2015-05-23       285000.0
1 2015-08-22       309950.0
2 2015-08-27       476000.0
3 2015-07-01       324950.0
4 2015-06-20       325000.0

In [30]:
datedf2.head()

   TransDate  SaleDollarCnt
0 2015-10-31            NaN
1 2015-11-06            NaN
2 2015-10-17            NaN
3 2015-11-19            NaN
4 2015-12-15            NaN

In [23]:

datedf1=datedf1.sort_values(by='TransDate')
datedf1.head()

       TransDate  SaleDollarCnt
10314 2015-04-01       292500.0
5907  2015-04-01       586000.0
9526  2015-04-01       545000.0
11152 2015-04-01       680000.0
2718  2015-04-01       970000.0

In [31]:

datedf2=datedf2.sort_values(by='TransDate')
datedf2.head()

      TransDate  SaleDollarCnt
3072 2015-10-01            NaN
3253 2015-10-01            NaN
3256 2015-10-01            NaN
767  2015-10-01            NaN
3275 2015-10-01            NaN

In [32]:

datedf2.index=datedf2['TransDate']
date3=datedf2.resample('M').mean()
date3
date3['count']=datedf2.resample('M').count
date3['count']=datedf2.resample('M').count()

In [33]:
date3

            SaleDollarCnt  count
TransDate
2015-10-31            NaN   1852
2015-11-30            NaN   1034
2015-12-31            NaN   1450
2016-01-31            NaN     66

In [26]:

datedf1.index=datedf1['TransDate']
date2=datedf1.resample('M').mean()
date2
date2['count']=datedf1.resample('M').count
date2['count']=datedf1.resample('M').count()

In [27]:
date2

            SaleDollarCnt  count
TransDate
2015-04-30  614949.954518   1671
2015-05-31  614010.690454   2116
2015-06-30  637301.737849   1934
2015-07-31  601015.601758   2275
2015-08-31  613819.837924   1888
2015-09-30  602209.944249   1704

In [47]:
# Drop both date columns 
print("X shape is : ",dftrain_X.shape)
dftrain_X.drop("TransDate",axis=1,inplace=True)
print("X shape is : ",dftrain_X.shape)

X shape is :  (11588, 23)
X shape is :  (11588, 22)

In [48]:
# Drop both date columns 
print("X shape is : ",dftest_X.shape)
dftest_X.drop("TransDate",axis=1,inplace=True)
print("X shape is : ",dftest_X.shape)

X shape is :  (4402, 23)
X shape is :  (4402, 22)

In [49]:
print("Shape of X is : ",dftrain_X.shape)
dftrain_X=pd.get_dummies(dftrain_X)
print("Shape of X is : ",dftrain_X.shape)
dftrain_X.head()

Shape of X is :  (11588, 22)
Shape of X is :  (11588, 199)

,PropertyID,censusblockgroup,Usecode,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,BuiltYear,...,ZoneCodeCounty_TC4,ZoneCodeCounty_UL15000,ZoneCodeCounty_UL7200,ZoneCodeCounty_UL9600,ZoneCodeCounty_UM2400,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV,ZoneCodeCounty_WD II
0,48648941,5.300000e+11,9,4.0,2.00,1900.0,480.0,7482,1.0,1965.0,...,0,0,0,0,0,0,0,0,0,0
1,48648982,5.300000e+11,9,3.0,2.00,2170.0,320.0,14208,1.0,1953.0,...,0,0,0,0,0,0,0,0,0,0
2,48649024,5.300000e+11,9,4.0,1.00,2150.0,590.0,6500,1.0,1955.0,...,0,0,0,0,0,0,0,0,0,0
3,48649040,5.300000e+11,9,4.0,2.25,2560.0,NaN,15767,1.0,1962.0,...,0,0,0,0,0,0,0,0,0,0
4,48649057,5.300000e+11,9,4.0,1.75,1720.0,NaN,8620,2.0,1948.0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
print("Shape of X is : ",dftest_X.shape)
dftest_X=pd.get_dummies(dftest_X)
print("Shape of X is : ",dftest_X.shape)
dftest_X.head()

Shape of X is :  (4402, 22)
Shape of X is :  (4402, 164)

,PropertyID,censusblockgroup,Usecode,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,BuiltYear,...,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
0,48735321,5.300000e+11,9,5.0,4.0,5540,NaN,25338,1.0,1940.0,...,0,0,0,0,0,0,0,0,0,0
1,48735471,5.300000e+11,9,5.0,3.0,2470,510.0,26006,1.0,1966.0,...,0,0,0,0,0,0,0,0,0,0
2,49128764,5.300000e+11,9,4.0,2.0,1680,NaN,8743,2.0,1928.0,...,0,0,0,0,0,0,0,0,0,0
3,48897535,5.300000e+11,9,2.0,1.0,990,260.0,12219,1.0,1940.0,...,0,0,0,0,0,0,0,0,0,0
4,49083957,5.300000e+11,9,4.0,3.0,2960,550.0,23568,1.0,1951.0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
dftrain_X.Usecode.value_counts()

9    11588
Name: Usecode, dtype: int64

In [54]:
dftest_X.Usecode.value_counts()

9    4402
Name: Usecode, dtype: int64

In [55]:
dftest_X.shape

(4402, 164)

In [56]:
# Drop both  columns 
print("X shape is : ",dftrain_X.shape)
dftrain_X.drop("Usecode",axis=1,inplace=True)
print("X shape is : ",dftrain_X.shape)



# Drop both columns 
print("X shape is : ",dftest_X.shape)
dftest_X.drop("Usecode",axis=1,inplace=True)
print("X shape is : ",dftest_X.shape)

X shape is :  (11588, 199)
X shape is :  (11588, 198)
X shape is :  (4402, 164)
X shape is :  (4402, 163)

In [57]:
dftrain_X.censusblockgroup.value_counts()

5.300000e+11    11588
Name: censusblockgroup, dtype: int64

In [58]:
dftest_X.censusblockgroup.value_counts()

5.300000e+11    4402
Name: censusblockgroup, dtype: int64

In [59]:
# Drop both  columns 
print("X shape is : ",dftrain_X.shape)
dftrain_X.drop("censusblockgroup",axis=1,inplace=True)
print("X shape is : ",dftrain_X.shape)



# Drop both  columns 
print("X shape is : ",dftest_X.shape)
dftest_X.drop("censusblockgroup",axis=1,inplace=True)
print("X shape is : ",dftest_X.shape)

X shape is :  (11588, 198)
X shape is :  (11588, 197)
X shape is :  (4402, 163)
X shape is :  (4402, 162)

In [60]:
print("X shape is : ",dftest_X.shape)

X shape is :  (4402, 162)

In [61]:
dftest_X.head()

,PropertyID,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,BuiltYear,ViewType,Latitude,...,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
0,48735321,5.0,4.0,5540,NaN,25338,1.0,1940.0,78.0,47725642,...,0,0,0,0,0,0,0,0,0,0
1,48735471,5.0,3.0,2470,510.0,26006,1.0,1966.0,78.0,47726993,...,0,0,0,0,0,0,0,0,0,0
2,49128764,4.0,2.0,1680,NaN,8743,2.0,1928.0,NaN,47731749,...,0,0,0,0,0,0,0,0,0,0
3,48897535,2.0,1.0,990,260.0,12219,1.0,1940.0,NaN,47728810,...,0,0,0,0,0,0,0,0,0,0
4,49083957,4.0,3.0,2960,550.0,23568,1.0,1951.0,82.0,47731170,...,0,0,0,0,0,0,0,0,0,0

In [62]:
dftrain_X.head()

,PropertyID,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,BuiltYear,ViewType,Latitude,...,ZoneCodeCounty_TC4,ZoneCodeCounty_UL15000,ZoneCodeCounty_UL7200,ZoneCodeCounty_UL9600,ZoneCodeCounty_UM2400,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV,ZoneCodeCounty_WD II
0,48648941,4.0,2.00,1900.0,480.0,7482,1.0,1965.0,NaN,47321389,...,0,0,0,0,0,0,0,0,0,0
1,48648982,3.0,2.00,2170.0,320.0,14208,1.0,1953.0,79.0,47482082,...,0,0,0,0,0,0,0,0,0,0
2,48649024,4.0,1.00,2150.0,590.0,6500,1.0,1955.0,NaN,47561383,...,0,0,0,0,0,0,0,0,0,0
3,48649040,4.0,2.25,2560.0,NaN,15767,1.0,1962.0,79.0,47387929,...,0,0,0,0,0,0,0,0,0,0
4,48649057,4.0,1.75,1720.0,NaN,8620,2.0,1948.0,78.0,47477068,...,0,0,0,0,0,0,0,0,0,0

In [66]:
dftrain_X.columns

Index(['PropertyID', 'BedroomCnt', 'BathroomCnt', 'FinishedSquareFeet',
       'GarageSquareFeet', 'LotSizeSquareFeet', 'StoryCnt', 'BuiltYear',
       'ViewType', 'Latitude',
       ...
       'ZoneCodeCounty_TC4', 'ZoneCodeCounty_UL15000', 'ZoneCodeCounty_UL7200',
       'ZoneCodeCounty_UL9600', 'ZoneCodeCounty_UM2400', 'ZoneCodeCounty_UR',
       'ZoneCodeCounty_URPSO', 'ZoneCodeCounty_UV', 'ZoneCodeCounty_UVEV',
       'ZoneCodeCounty_WD II'],
      dtype='object', length=197)

In [67]:
cols = [col for col in dftest_X.columns if col in dftrain_X.columns]
dftrain_X = dftrain_X[cols]

In [69]:
dftrain_X.head()

,PropertyID,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,BuiltYear,ViewType,Latitude,...,ZoneCodeCounty_SR6,ZoneCodeCounty_SR8,ZoneCodeCounty_SVV,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
0,48648941,4.0,2.00,1900.0,480.0,7482,1.0,1965.0,NaN,47321389,...,0,0,0,0,0,0,0,0,0,0
1,48648982,3.0,2.00,2170.0,320.0,14208,1.0,1953.0,79.0,47482082,...,0,0,0,0,0,0,0,0,0,0
2,48649024,4.0,1.00,2150.0,590.0,6500,1.0,1955.0,NaN,47561383,...,0,0,0,0,0,0,0,0,0,0
3,48649040,4.0,2.25,2560.0,NaN,15767,1.0,1962.0,79.0,47387929,...,0,0,0,0,0,0,0,0,0,0
4,48649057,4.0,1.75,1720.0,NaN,8620,2.0,1948.0,78.0,47477068,...,0,0,0,0,0,0,0,0,0,0

In [70]:
colstoadd = [col for col in dftest_X.columns if col not in dftrain_X.columns]
colstoadd

['ZoneCodeCounty_C2',
 'ZoneCodeCounty_CR',
 'ZoneCodeCounty_DNTNMU',
 'ZoneCodeCounty_EP',
 'ZoneCodeCounty_MR',
 'ZoneCodeCounty_MRRC',
 'ZoneCodeCounty_NC2P40',
 'ZoneCodeCounty_PR',
 'ZoneCodeCounty_R1P',
 'ZoneCodeCounty_R30',
 'ZoneCodeCounty_RA10DPA',
 'ZoneCodeCounty_RM2400',
 'ZoneCodeCounty_RSA 1',
 'ZoneCodeCounty_RSLTC',
 'ZoneCodeCounty_TL 10A',
 'ZoneCodeCounty_UHUCR',
 'ZoneCodeCounty_US R1']

In [75]:
dftest_X[colstoadd].sum()

ZoneCodeCounty_C2         1
ZoneCodeCounty_CR         1
ZoneCodeCounty_DNTNMU     1
ZoneCodeCounty_EP         2
ZoneCodeCounty_MR         1
ZoneCodeCounty_MRRC       1
ZoneCodeCounty_NC2P40     1
ZoneCodeCounty_PR         1
ZoneCodeCounty_R1P        1
ZoneCodeCounty_R30        2
ZoneCodeCounty_RA10DPA    3
ZoneCodeCounty_RM2400     2
ZoneCodeCounty_RSA 1      1
ZoneCodeCounty_RSLTC      1
ZoneCodeCounty_TL 10A     1
ZoneCodeCounty_UHUCR      1
ZoneCodeCounty_US R1      2
dtype: int64

In [77]:
for col in colstoadd:
    dftrain_X[col] = 0

dftrain_X.head()

,PropertyID,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,BuiltYear,ViewType,Latitude,...,ZoneCodeCounty_PR,ZoneCodeCounty_R1P,ZoneCodeCounty_R30,ZoneCodeCounty_RA10DPA,ZoneCodeCounty_RM2400,ZoneCodeCounty_RSA 1,ZoneCodeCounty_RSLTC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_US R1
0,48648941,4.0,2.00,1900.0,480.0,7482,1.0,1965.0,NaN,47321389,...,0,0,0,0,0,0,0,0,0,0
1,48648982,3.0,2.00,2170.0,320.0,14208,1.0,1953.0,79.0,47482082,...,0,0,0,0,0,0,0,0,0,0
2,48649024,4.0,1.00,2150.0,590.0,6500,1.0,1955.0,NaN,47561383,...,0,0,0,0,0,0,0,0,0,0
3,48649040,4.0,2.25,2560.0,NaN,15767,1.0,1962.0,79.0,47387929,...,0,0,0,0,0,0,0,0,0,0
4,48649057,4.0,1.75,1720.0,NaN,8620,2.0,1948.0,78.0,47477068,...,0,0,0,0,0,0,0,0,0,0

In [78]:
dftrain_X[colstoadd].sum()

ZoneCodeCounty_C2         0
ZoneCodeCounty_CR         0
ZoneCodeCounty_DNTNMU     0
ZoneCodeCounty_EP         0
ZoneCodeCounty_MR         0
ZoneCodeCounty_MRRC       0
ZoneCodeCounty_NC2P40     0
ZoneCodeCounty_PR         0
ZoneCodeCounty_R1P        0
ZoneCodeCounty_R30        0
ZoneCodeCounty_RA10DPA    0
ZoneCodeCounty_RM2400     0
ZoneCodeCounty_RSA 1      0
ZoneCodeCounty_RSLTC      0
ZoneCodeCounty_TL 10A     0
ZoneCodeCounty_UHUCR      0
ZoneCodeCounty_US R1      0
dtype: int64

In [83]:
traincolsthatwerenotadded=[col for col in dftrain.columns if col not in dftest_X.columns]

In [84]:
traincolsthatwerenotadded

['SaleDollarCnt', 'TransDate', 'censusblockgroup', 'ZoneCodeCounty', 'Usecode']

In [99]:
pqr=pd.DataFrame(data=dftrain)
pqr.drop(['SaleDollarCnt', 'TransDate', 'censusblockgroup', 'Usecode'],inplace=True,axis=1)

In [100]:
pqr.shape

(11588, 20)

In [101]:
xyz=pd.get_dummies(pqr)
xyz.shape

(11588, 197)

In [102]:
dftrain.shape

(11588, 24)

In [108]:
xyz.shape

(11588, 197)

In [109]:
traincolsthatwerenotadded=[col for col in xyz.columns if col not in dftest_X.columns]

In [112]:
xyz[traincolsthatwerenotadded].sum()

ZoneCodeCounty_AI1             1
ZoneCodeCounty_BO              1
ZoneCodeCounty_C140            2
ZoneCodeCounty_CB              3
ZoneCodeCounty_CBSO            1
ZoneCodeCounty_CM2             1
ZoneCodeCounty_DUC             2
ZoneCodeCounty_GDC             1
ZoneCodeCounty_I               2
ZoneCodeCounty_IB U85          1
ZoneCodeCounty_IG2 U65         1
ZoneCodeCounty_LR2 RC          1
ZoneCodeCounty_LR3 RC          2
ZoneCodeCounty_MC              1
ZoneCodeCounty_MDR             1
ZoneCodeCounty_MHO             2
ZoneCodeCounty_MRD             9
ZoneCodeCounty_MRM             3
ZoneCodeCounty_MSC 4           1
ZoneCodeCounty_MUR             3
ZoneCodeCounty_MUR35           1
ZoneCodeCounty_NC365           1
ZoneCodeCounty_NCC             1
ZoneCodeCounty_OS2             1
ZoneCodeCounty_PLA 17          1
ZoneCodeCounty_PLA 3C          1
ZoneCodeCounty_PLA 6D          2
ZoneCodeCounty_PLA 6E          1
ZoneCodeCounty_R               2
ZoneCodeCounty_R 2800, OP      1
ZoneCodeCounty_R 40000         1
ZoneCodeCounty_R 5400A, OP     2
ZoneCodeCounty_R1SO            2
ZoneCodeCounty_R4C             1
ZoneCodeCounty_R4P            13
ZoneCodeCounty_R6C             1
ZoneCodeCounty_RA3600          1
ZoneCodeCounty_RB              1
ZoneCodeCounty_RCC             1
ZoneCodeCounty_RM1800          3
ZoneCodeCounty_RM3600          2
ZoneCodeCounty_RO              3
ZoneCodeCounty_RS 11           1
ZoneCodeCounty_RS 6.3          2
ZoneCodeCounty_RS35.0          1
ZoneCodeCounty_RSE             1
ZoneCodeCounty_RSX 35          4
ZoneCodeCounty_TC4             1
ZoneCodeCounty_UL15000         3
ZoneCodeCounty_UL9600          2
ZoneCodeCounty_UM2400          2
ZoneCodeCounty_WD II           2
dtype: int64

In [114]:
dftrain_X.shape

(11588, 162)

In [115]:
dftest_X.shape

(4402, 162)

In [116]:
check1=[col for col in dftrain_X.columns if col not in dftest_X.columns]

In [117]:
check1

[]

In [119]:
check2=[col for col in dftrain_X.columns if col in dftest_X.columns]
len(check2)

162

In [122]:
dftrain_X['Missing ViewType']=(np.isfinite(dftrain_X['ViewType'])==False)
dftrain_X['Missing ViewType']= dftrain_X['Missing ViewType'].astype(int)
dftrain_X['Missing GarageSquareFeet']=(np.isfinite(dftrain_X['GarageSquareFeet'])==False)
dftrain_X['Missing GarageSquareFeet']= dftrain_X['Missing GarageSquareFeet'].astype(int)
dftrain_X['Missing BGMedYearBuilt']=(np.isfinite(dftrain_X['BGMedYearBuilt'])==False)
dftrain_X['Missing BGMedYearBuilt']= dftrain_X['Missing BGMedYearBuilt'].astype(int)
dftrain_X['Missing BGMedRent']=(np.isfinite(dftrain_X['BGMedRent'])==False)
dftrain_X['Missing BGMedRent']= dftrain_X['Missing BGMedRent'].astype(int)
dftrain_X['Missing BGMedHomeValue']=(np.isfinite(dftrain_X['BGMedHomeValue'])==False)
dftrain_X['Missing BGMedHomeValue']= dftrain_X['Missing BGMedHomeValue'].astype(int)
print("Shape of train is : ",dftrain_X.shape)
dftrain_X.head()

Shape of train is :  (11588, 167)

,PropertyID,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,BuiltYear,ViewType,Latitude,...,ZoneCodeCounty_RSA 1,ZoneCodeCounty_RSLTC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_US R1,Missing ViewType,Missing GarageSquareFeet,Missing BGMedYearBuilt,Missing BGMedRent,Missing BGMedHomeValue
0,48648941,4.0,2.00,1900.0,480.0,7482,1.0,1965.0,NaN,47321389,...,0,0,0,0,0,1,0,0,0,0
1,48648982,3.0,2.00,2170.0,320.0,14208,1.0,1953.0,79.0,47482082,...,0,0,0,0,0,0,0,0,0,0
2,48649024,4.0,1.00,2150.0,590.0,6500,1.0,1955.0,NaN,47561383,...,0,0,0,0,0,1,0,0,0,0
3,48649040,4.0,2.25,2560.0,NaN,15767,1.0,1962.0,79.0,47387929,...,0,0,0,0,0,0,1,0,0,0
4,48649057,4.0,1.75,1720.0,NaN,8620,2.0,1948.0,78.0,47477068,...,0,0,0,0,0,0,1,0,0,0

In [123]:
dftest_X['Missing ViewType']=(np.isfinite(dftest_X['ViewType'])==False)
dftest_X['Missing ViewType']= dftest_X['Missing ViewType'].astype(int)
dftest_X['Missing GarageSquareFeet']=(np.isfinite(dftest_X['GarageSquareFeet'])==False)
dftest_X['Missing GarageSquareFeet']= dftest_X['Missing GarageSquareFeet'].astype(int)
dftest_X['Missing BGMedYearBuilt']=(np.isfinite(dftest_X['BGMedYearBuilt'])==False)
dftest_X['Missing BGMedYearBuilt']= dftest_X['Missing BGMedYearBuilt'].astype(int)
dftest_X['Missing BGMedRent']=(np.isfinite(dftest_X['BGMedRent'])==False)
dftest_X['Missing BGMedRent']= dftest_X['Missing BGMedRent'].astype(int)
dftest_X['Missing BGMedHomeValue']=(np.isfinite(dftest_X['BGMedHomeValue'])==False)
dftest_X['Missing BGMedHomeValue']= dftest_X['Missing BGMedHomeValue'].astype(int)
print("Shape of test is : ",dftest_X.shape)
dftest_X.head()

Shape of test is :  (4402, 167)

,PropertyID,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,BuiltYear,ViewType,Latitude,...,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV,Missing ViewType,Missing GarageSquareFeet,Missing BGMedYearBuilt,Missing BGMedRent,Missing BGMedHomeValue
0,48735321,5.0,4.0,5540,NaN,25338,1.0,1940.0,78.0,47725642,...,0,0,0,0,0,0,1,0,0,0
1,48735471,5.0,3.0,2470,510.0,26006,1.0,1966.0,78.0,47726993,...,0,0,0,0,0,0,0,0,0,0
2,49128764,4.0,2.0,1680,NaN,8743,2.0,1928.0,NaN,47731749,...,0,0,0,0,0,1,1,0,0,0
3,48897535,2.0,1.0,990,260.0,12219,1.0,1940.0,NaN,47728810,...,0,0,0,0,0,1,0,0,0,0
4,49083957,4.0,3.0,2960,550.0,23568,1.0,1951.0,82.0,47731170,...,0,0,0,0,0,0,0,0,0,0

In [124]:
dftrain_X['BedroomCnt'].value_counts()

3.000000    5107
4.000000    4177
2.000000    1102
5.000000     959
6.000000     114
1.000000     103
7.000000      15
9.000000       5
8.000000       3
3.615385       1
3.384615       1
3.461538       1
Name: BedroomCnt, dtype: int64

In [125]:
dftest_X['BedroomCnt'].value_counts()

3.000000     1942
4.000000     1570
2.000000      424
5.000000      363
6.000000       49
1.000000       39
8.000000        5
7.000000        4
3.076923        2
12.000000       2
3.538462        1
3.307692        1
Name: BedroomCnt, dtype: int64

In [127]:
dftrain_X = dftrain_X.reindex(sorted(dftrain_X.columns), axis=1)

In [128]:
dftest_X = dftest_X.reindex(sorted(dftest_X.columns), axis=1)

In [129]:
dftrain_X.head()

,BGMedAge,BGMedHomeValue,BGMedIncome,BGMedRent,BGMedYearBuilt,BGPctKids,BGPctOwn,BGPctVacant,BathroomCnt,BedroomCnt,...,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
0,48.6,107800.0,42854,844.0,1975.0,0.1924,0.6685,0.0780,2.00,4.0,...,0,0,0,0,0,0,0,0,0,0
1,42.6,181500.0,54013,925.0,1969.0,0.3718,0.5753,0.0192,2.00,3.0,...,0,0,0,0,0,0,0,0,0,0
2,40.7,344300.0,56782,733.0,1946.0,0.3207,0.6331,0.0000,1.00,4.0,...,0,0,0,0,0,0,0,0,0,0
3,40.0,284200.0,44200,900.0,1977.0,0.3359,0.5456,0.0573,2.25,4.0,...,0,0,0,0,0,0,0,0,0,0
4,44.4,290100.0,65282,802.0,1972.0,0.1633,0.4267,0.0551,1.75,4.0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
dftest_X.head()

,BGMedAge,BGMedHomeValue,BGMedIncome,BGMedRent,BGMedYearBuilt,BGPctKids,BGPctOwn,BGPctVacant,BathroomCnt,BedroomCnt,...,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
0,49.6,527700.0,113450,1750.0,1956.0,0.2524,0.9134,0.1061,4.0,5.0,...,0,0,0,0,0,0,0,0,0,0
1,49.6,527700.0,113450,1750.0,1956.0,0.2524,0.9134,0.1061,3.0,5.0,...,0,0,0,0,0,0,0,0,0,0
2,49.6,527700.0,113450,1750.0,1956.0,0.2524,0.9134,0.1061,2.0,4.0,...,0,0,0,0,0,0,0,0,0,0
3,49.6,527700.0,113450,1750.0,1956.0,0.2524,0.9134,0.1061,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
4,49.6,527700.0,113450,1750.0,1956.0,0.2524,0.9134,0.1061,3.0,4.0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
submissiondf=pd.DataFrame(data=dftest_X['PropertyID'])
submissiondf.head()

   PropertyID
0    48735321
1    48735471
2    49128764
3    48897535
4    49083957

In [135]:
submissiondf.shape

(4402, 1)

#### KNN imputation from fancy_impute was done on Kaggle Kernel as local system was facing some errors with KNN imputation technique. After that, the files was stored from Server to local PC and then we have KNN imputed files.

In [137]:
dftrain_X=pd.read_csv("dftrain_X_imputed.csv")
dftest_X = pd.read_csv("dftest_X_imputed.csv")

In [138]:
dftrain_X.head()

,Unnamed: 0,BGMedAge,BGMedHomeValue,BGMedIncome,BGMedRent,BGMedYearBuilt,BGPctKids,BGPctOwn,BGPctVacant,BathroomCnt,...,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
0,0,1.312359,-1.829768,-1.433279,-0.992881,0.092411,-1.193404,-0.403853,0.462342,-0.375478,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854
1,1,0.420317,-1.416003,-1.125734,-0.787479,-0.244938,0.083579,-0.878712,-0.539812,-0.375478,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854
2,2,0.137837,-0.502016,-1.049419,-1.274357,-1.538110,-0.280155,-0.584218,-0.867046,-1.521526,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854
3,3,0.033766,-0.839428,-1.396183,-0.850874,0.204861,-0.171960,-1.030035,0.109543,-0.088966,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854
4,4,0.687930,-0.806304,-0.815157,-1.099385,-0.076264,-1.400540,-1.635837,0.072048,-0.661990,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854

In [139]:
dftest_X.head()

,Unnamed: 0,BGMedAge,BGMedHomeValue,BGMedIncome,BGMedRent,BGMedYearBuilt,BGPctKids,BGPctOwn,BGPctVacant,BathroomCnt,...,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
0,0,1.442128,0.568365,0.557939,1.356873,-0.940332,-0.739685,0.861138,0.908763,1.586067,...,-0.015074,-0.015074,-0.015074,-0.015074,-0.096961,-0.064077,-0.082836,-0.02132,-0.058474,-0.039909
1,1,1.442128,0.568365,0.557939,1.356873,-0.940332,-0.739685,0.861138,0.908763,0.564978,...,-0.015074,-0.015074,-0.015074,-0.015074,-0.096961,-0.064077,-0.082836,-0.02132,-0.058474,-0.039909
2,2,1.442128,0.568365,0.557939,1.356873,-0.940332,-0.739685,0.861138,0.908763,-0.456111,...,-0.015074,-0.015074,-0.015074,-0.015074,-0.096961,-0.064077,-0.082836,-0.02132,-0.058474,-0.039909
3,3,1.442128,0.568365,0.557939,1.356873,-0.940332,-0.739685,0.861138,0.908763,-1.477200,...,-0.015074,-0.015074,-0.015074,-0.015074,-0.096961,-0.064077,-0.082836,-0.02132,-0.058474,-0.039909
4,4,1.442128,0.568365,0.557939,1.356873,-0.940332,-0.739685,0.861138,0.908763,0.564978,...,-0.015074,-0.015074,-0.015074,-0.015074,-0.096961,-0.064077,-0.082836,-0.02132,-0.058474,-0.039909

In [143]:
dftrain_X.drop(["Unnamed: 0"],axis=1,inplace=True)

In [144]:
dftest_X.drop(["Unnamed: 0"],axis=1,inplace=True)

In [145]:
dftrain_X = dftrain_X.reindex(sorted(dftrain_X.columns), axis=1)
dftest_X = dftest_X.reindex(sorted(dftest_X.columns), axis=1)

In [146]:
dftrain_X.head()

,BGMedAge,BGMedHomeValue,BGMedIncome,BGMedRent,BGMedYearBuilt,BGPctKids,BGPctOwn,BGPctVacant,BathroomCnt,BedroomCnt,...,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
0,1.312359,-1.829768,-1.433279,-0.992881,0.092411,-1.193404,-0.403853,0.462342,-0.375478,0.633285,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854
1,0.420317,-1.416003,-1.125734,-0.787479,-0.244938,0.083579,-0.878712,-0.539812,-0.375478,-0.521924,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854
2,0.137837,-0.502016,-1.049419,-1.274357,-1.538110,-0.280155,-0.584218,-0.867046,-1.521526,0.633285,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854
3,0.033766,-0.839428,-1.396183,-0.850874,0.204861,-0.171960,-1.030035,0.109543,-0.088966,0.633285,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854
4,0.687930,-0.806304,-0.815157,-1.099385,-0.076264,-1.400540,-1.635837,0.072048,-0.661990,0.633285,...,-0.00929,-0.016092,0.0,0.0,-0.085451,-0.062438,-0.087976,0.0,-0.077958,-0.058854

In [147]:
result = pd.concat([dftrain_y, dftrain_X], axis=1, sort=False)
result.corr()

,SaleDollarCnt,BGMedAge,BGMedHomeValue,BGMedIncome,BGMedRent,BGMedYearBuilt,BGPctKids,BGPctOwn,BGPctVacant,BathroomCnt,...,ZoneCodeCounty_T,ZoneCodeCounty_TC,ZoneCodeCounty_TL 10A,ZoneCodeCounty_UHUCR,ZoneCodeCounty_UL7200,ZoneCodeCounty_UR,ZoneCodeCounty_URPSO,ZoneCodeCounty_US R1,ZoneCodeCounty_UV,ZoneCodeCounty_UVEV
SaleDollarCnt,1.000000,0.173956,0.681915,0.427578,0.285612,-0.116480,-0.028768,0.094028,0.010543,0.506672,...,-0.006874,-0.008089,NaN,NaN,-0.060764,-0.038110,0.011451,NaN,0.019745,0.022135
BGMedAge,0.173956,1.000000,0.262665,0.159478,0.104708,-0.153470,-0.473199,0.357654,0.039717,0.060423,...,-0.000239,0.012506,NaN,NaN,-0.016201,0.003449,0.124730,NaN,-0.076844,-0.046138
BGMedHomeValue,0.681915,0.262665,1.000000,0.684423,0.458181,-0.121641,0.052913,0.254099,-0.046364,0.316697,...,-0.007518,-0.014412,NaN,NaN,-0.095693,-0.035577,0.032169,NaN,0.035798,0.057218
BGMedIncome,0.427578,0.159478,0.684423,1.000000,0.621630,0.193459,0.367387,0.602389,-0.096249,0.352881,...,-0.011348,-0.019103,NaN,NaN,-0.097016,-0.000763,0.019685,NaN,0.062884,0.052581
BGMedRent,0.285612,0.104708,0.458181,0.621630,1.000000,0.233537,0.273633,0.459024,-0.094842,0.246985,...,-0.011522,-0.017006,NaN,NaN,-0.054025,0.023170,0.119470,NaN,0.085470,0.025389
BGMedYearBuilt,-0.116480,-0.153470,-0.121641,0.193459,0.233537,1.000000,0.446102,0.155998,-0.020721,0.290310,...,-0.004573,0.006381,NaN,NaN,-0.048170,0.017669,0.146308,NaN,0.130523,0.017966
BGPctKids,-0.028768,-0.473199,0.052913,0.367387,0.273633,0.446102,1.000000,0.288577,-0.081650,0.181858,...,0.000016,-0.008132,NaN,NaN,-0.038564,0.006530,-0.020327,NaN,0.088087,-0.013765
BGPctOwn,0.094028,0.357654,0.254099,0.602389,0.459024,0.155998,0.288577,1.000000,-0.103676,0.201332,...,-0.019618,-0.001006,NaN,NaN,-0.042348,0.037383,0.042641,NaN,-0.003606,-0.043589
BGPctVacant,0.010543,0.039717,-0.046364,-0.096249,-0.094842,-0.020721,-0.081650,-0.103676,1.000000,-0.012473,...,0.002110,0.002101,NaN,NaN,0.000830,0.029866,0.013982,NaN,0.035740,-0.038190
BathroomCnt,0.506672,0.060423,0.316697,0.352881,0.246985,0.290310,0.181858,0.201332,-0.012473,1.000000,...,-0.003488,-0.009116,NaN,NaN,-0.057733,-0.038550,0.026726,NaN,0.043161,0.063900
BedroomCnt,0.310897,0.022350,0.185010,0.203819,0.160628,0.142163,0.122363,0.126537,-0.037825,0.547931,...,0.005883,0.016387,NaN,NaN,-0.025796,-0.032588,-0.061904,NaN,0.005627,0.027073
BuiltYear,0.139941,-0.053678,-0.002238,0.213867,0.209572,0.563977,0.320432,0.234920,-0.010501,0.562734,...,-0.003452,-0.006170,NaN,NaN,-0.039002,-0.004107,0.095293,NaN,0.083544,0.069290
FinishedSquareFeet,0.678446,0.126701,0.451460,0.421043,0.286116,0.210854,0.150903,0.214079,-0.015851,0.770779,...,-0.000396,-0.004808,NaN,NaN,-0.050917,-0.043065,0.011758,NaN,0.024925,0.043110
GarageSquareFeet,0.282781,0.102894,0.177867,0.287018,0.221304,0.384254,0.205274,0.256248,0.007768,0.437512,...,0.000037,-0.001112,NaN,NaN,-0.037866,0.032329,0.010505,NaN,0.007687,0.013301
Latitude,0.317772,0.093957,0.438911,0.239937,0.178521,-0.251774,-0.147922,-0.041684,-0.052146,0.023533,...,-0.005493,-0.010283,NaN,NaN,-0.061017,-0.036703,0.091889,NaN,-0.001870,-0.006866
Longitude,-0.020657,-0.080426,0.042980,0.337984,0.270668,0.626320,0.422751,0.307125,0.012217,0.232815,...,-0.006157,0.009355,NaN,NaN,-0.054061,0.169401,0.107156,NaN,0.109749,0.052847
LotSizeSquareFeet,0.067874,0.128735,0.042843,0.054269,-0.036392,0.110082,0.003284,0.125225,0.013974,0.107850,...,-0.001682,-0.001983,NaN,NaN,-0.012561,0.018047,-0.020723,NaN,-0.020910,-0.015896
Missing BGMedHomeValue,-0.009463,-0.049708,-0.019036,-0.023734,-0.015104,0.017034,0.006536,-0.085022,0.083497,-0.004199,...,-0.000211,-0.000366,NaN,NaN,-0.001945,-0.001421,-0.002002,NaN,-0.001774,-0.001340
Missing BGMedRent,0.050122,0.221339,0.162539,0.370692,0.212484,0.150722,0.159108,0.524399,-0.021814,0.138428,...,-0.005035,-0.008722,NaN,NaN,-0.041455,0.022466,-0.047681,NaN,-0.042251,-0.031897
Missing BGMedYearBuilt,0.015801,-0.104180,0.064138,0.160738,0.165488,0.190160,0.179951,0.022063,-0.010892,0.101908,...,-0.001371,-0.002375,NaN,NaN,-0.012611,-0.009214,-0.012983,NaN,0.374033,0.398799
Missing GarageSquareFeet,-0.081234,0.020496,-0.025990,-0.189072,-0.202730,-0.367624,-0.229116,-0.208572,0.045624,-0.373407,...,-0.005294,0.028236,NaN,NaN,0.036431,0.006346,-0.031756,NaN,-0.028896,-0.030121
Missing ViewType,-0.265936,-0.178623,-0.218149,-0.089974,-0.017195,0.147170,0.135395,-0.009566,-0.045902,-0.109534,...,0.005036,-0.004079,NaN,NaN,0.019616,-0.035696,0.028818,NaN,0.015681,-0.006724
PropertyID,0.024807,-0.121188,-0.070863,0.023011,0.019197,0.235369,0.139690,0.028997,0.013874,0.252908,...,-0.003599,-0.006238,NaN,NaN,-0.023284,-0.016237,0.097707,NaN,0.071418,0.093619
StoryCnt,0.267300,-0.082155,0.181544,0.212164,0.118088,0.196404,0.172151,0.062497,0.002787,0.475484,...,-0.009410,-0.006021,NaN,NaN,-0.049514,-0.041972,0.005602,NaN,0.078964,0.053169
ViewType,0.030121,0.005822,0.065888,0.173572,0.164393,0.321736,0.195612,0.159080,-0.026782,0.167468,...,-0.004819,-0.008233,NaN,NaN,0.070200,-0.005693,0.276114,NaN,-0.041532,0.019277
ZoneCodeCounty_A10,-0.012339,0.036878,-0.010913,-0.006664,0.001983,0.006870,-0.017555,0.012782,-0.012396,-0.001976,...,-0.000345,-0.000598,NaN,NaN,-0.003177,-0.002322,-0.003271,NaN,-0.002899,-0.002188
ZoneCodeCounty_A35,-0.015148,0.051685,-0.013500,-0.016842,-0.013628,0.007561,-0.031597,0.015529,-0.015389,-0.015538,...,-0.000311,-0.000539,NaN,NaN,-0.002864,-0.002092,-0.002948,NaN,-0.002613,-0.001972
ZoneCodeCounty_C1,-0.020294,-0.018238,-0.028867,-0.027676,-0.019935,0.000386,0.006271,-0.007574,0.021320,-0.018328,...,-0.000211,-0.000366,NaN,NaN,-0.001945,-0.001421,-0.002002,NaN,-0.001774,-0.001340
ZoneCodeCounty_C2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZoneCodeCounty_CR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZoneCodeCounty_RSA 6,-0.017218,-0.031341,-0.026786,-0.019406,0.043847,0.017085,0.005510,0.027547,-0.052987,-0.011241,...,-0.001286,-0.002228,NaN,NaN,-0.011832,-0.008646,-0.012182,NaN,-0.010795,-0.008149
ZoneCodeCounty_RSA 8,0.004212,-0.012531,-0.003531,-0.001087,0.018307,0.010873,-0.004209,-0.000392,-0.008340,0.018665,...,-0.000345,-0.000598,NaN,NaN,-0.003177,-0.002322,-0.003271,NaN,-0.002899,-0.002188
ZoneCodeCounty_RSLTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZoneCodeCounty_RSX 7.2,0.017586,-0.048495,-0.002511,-0.012116,0.034779,0.042292,-0.016296,-0.020259,0.021272,0.005942,...,-0.000954,-0.001653,NaN,NaN,-0.008778,-0.006414,-0.009037,NaN,-0.008008,-0.006046
ZoneCodeCounty_RSX 8.5,-0.001537,-0.005211,-0.011561,-0.006611,-0.000894,0.010393,-0.010928,-0.019192,-0.002387,-0.000826,...,-0.000086,-0.000149,NaN,NaN,-0.000794,-0.000580,-0.000817,NaN,-0.000724,-0.000547
ZoneCodeCounty_SF 5000,0.093375,-0.039478,0.146622,-0.113508,-0.195087,-0.609872,-0.287926,-0.247538,0.003279,-0.200475,...,-0.004551,-0.007884,NaN,NaN,-0.041864,-0.030589,-0.043101,NaN,-0.038193,-0.028834
ZoneCodeCounty_SF 7200,0.030004,0.129687,0.031195,-0.070525,-0.055253,-0.163114,-0.143069,-0.044690,0.028277,-0.060016,...,-0.001899,-0.003290,NaN,NaN,-0.017472,-0.012766,-0.017988,NaN,-0.015940,-0.012034
ZoneCodeCounty_SF 9600,0.082959,0.057907,0.063362,0.048893,0.042489,-0.056168,-0.025672,0.033671,0.021666,0.029244,...,-0.000519,-0.000898,NaN,NaN,-0.004770,-0.003486,-0.004911,NaN,-0.004352,-0.003285
ZoneCodeCounty_SFD,-0.011479,0.004991,-0.013741,-0.027947,-0.025582,0.009328,-0.009164,-0.024720,0.044417,-0.034344,...,-0.000244,-0.000423,NaN,NaN,-0.002246,-0.001641,-0.002312,NaN,-0.002049,-0.001547
ZoneCodeCounty_SFE,0.005902,-0.017707,0.032653,-0.007318,-0.001894,0.032773,-0.010363,-0.036651,0.019310,0.006869,...,-0.000228,-0.000396,NaN,NaN,-0.002101,-0.001535,-0.002163,NaN,-0.001917,-0.001447
ZoneCodeCounty_SFR 10.0,0.016161,0.005976,0.013637,0.015782,0.011973,-0.008702,0.005240,0.006756,0.004263,0.007159,...,-0.000086,-0.000149,NaN,NaN,-0.000794,-0.000580,-0.000817,NaN,-0.000724,-0.000547
ZoneCodeCounty_SFS,0.016274,0.050876,0.036276,0.022181,-0.016802,0.049448,-0.030857,-0.006965,-0.009263,0.025860,...,-0.000636,-0.001101,NaN,NaN,-0.005847,-0.004272,-0.006020,NaN,-0.005334,-0.004027
ZoneCodeCounty_SFSL,0.023874,-0.007128,0.029884,0.057119,-0.030391,0.016604,0.009651,0.023631,0.010427,0.012413,...,-0.000496,-0.000860,NaN,NaN,-0.004567,-0.003337,-0.004702,NaN,-0.004166,-0.003145
ZoneCodeCounty_SR1,-0.008349,-0.001657,-0.012559,-0.005732,0.000145,0.012398,0.003360,0.010051,0.001304,0.001236,...,-0.000211,-0.000366,NaN,NaN,-0.001945,-0.001421,-0.002002,NaN,-0.001774,-0.001340
ZoneCodeCounty_SR3,-0.020704,-0.022395,-0.028158,-0.031804,0.011278,0.068222,0.029284,0.050314,-0.001496,0.025730,...,-0.000465,-0.000806,NaN,NaN,-0.004280,-0.003127,-0.004407,NaN,-0.003905,-0.002948
ZoneCodeCounty_SR30,0.021701,0.006253,0.029541,0.010661,0.016969,-0.003541,0.004367,0.005772,0.016851,-0.000826,...,-0.000086,-0.000149,NaN,NaN,-0.000794,-0.000580,-0.000817,NaN,-0.000724,-0.000547
ZoneCodeCounty_SR4.5,-0.044610,0.019056,-0.055431,-0.000128,0.002170,0.042324,-0.017150,0.030315,-0.042163,0.011208,...,-0.000789,-0.001367,NaN,NaN,-0.007258,-0.005303,-0.007472,NaN,-0.006621,-0.004999
ZoneCodeCounty_SR6,-0.114994,-0.105985,-0.156554,-0.097459,-0.017317,0.091901,0.100661,-0.020570,-0.015967,-0.025131,...,-0.001649,-0.002857,NaN,NaN,-0.015169,-0.011084,-0.015617,NaN,-0.013839,-0.010447
ZoneCodeCounty_SR8,-0.031909,-0.002428,-0.049825,-0.041919,-0.010297,0.042245,-0.010263,-0.025561,-0.033527,0.010395,...,-0.000489,-0.000847,NaN,NaN,-0.004497,-0.003286,-0.004630,NaN,-0.004102,-0.003097
ZoneCodeCounty_SVV,-0.002308,-0.006592,-0.005740,-0.010876,-0.008341,0.003684,-0.004977,-0.015026,-0.008055,-0.003488,...,-0.000086,-0.000149,NaN,NaN,-0.000794,-0.000580,-0.000817,NaN,-0.000724,-0.000547
ZoneCodeCounty_T,-0.006874,-0.000239,-0.007518,-0.011348,-0.011522,-0.004573,0.000016,-0.019618,0.002110,-0.003488,...,1.000000,-0.000149,NaN,NaN,-0.000794,-0.000580,-0.000817,NaN,-0.000724,-0.000547
ZoneCodeCounty_TC,-0.008089,0.012506,-0.014412,-0.019103,-0.017006,0.006381,-0.008132,-0.001006,0.002101,-0.009116,...,-0.000149,1.000000,NaN,NaN,-0.001375,-0.001005,-0.001416,NaN,-0.001255,-0.000947
ZoneCodeCounty_TL 10A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZoneCodeCounty_UHUCR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZoneCodeCounty_UL7200,-0.060764,-0.016201,-0.095693,-0.097016,-0.054025,-0.048170,-0.038564,-0.042348,0.000830,-0.057733,...,-0.000794,-0.001375,NaN,NaN,1.000000,-0.005335,-0.007518,NaN,-0.006662,-0.005029
ZoneCodeCounty_UR,-0.038110,0.003449,-0.035577,-0.000763,0.023170,0.017669,0.006530,0.037383,0.029866,-0.038550,...,-0.000580,-0.001005,NaN,NaN,-0.005335,1.000000,-0.005493,NaN,-0.004868,-0.003675
ZoneCodeCounty_URPSO,0.011451,0.124730,0.032169,0.019685,0.119470,0.146308,-0.020327,0.042641,0.013982,0.026726,...,-0.000817,-0.001416,NaN,NaN,-0.007518,-0.005493,1.000000,NaN,-0.006858,-0.005178
ZoneCodeCounty_US R1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZoneCodeCounty_UV,0.019745,-0.076844,0.035798,0.062884,0.085470,0.130523,0.088087,-0.003606,0.035740,0.043161,...,-0.000724,-0.001255,NaN,NaN,-0.006662,-0.004868,-0.006858,NaN,1.000000,-0.004588
ZoneCodeCounty_UVEV,0.022135,-0.046138,0.057218,0.052581,0.025389,0.017966,-0.013765,-0.043589,-0.038190,0.063900,...,-0.000547,-0.000947,NaN,NaN,-0.005029,-0.003675,-0.005178,NaN,-0.004588,1.000000

In [149]:
dftrain_X.isna().sum().sum()

0

# All Data preprocessing complete 


# Machine Learning Modeling Started

In [167]:
from lightgbm import LGBMRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
import numpy as np
from xgboost import XGBRegressor
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
def cross_validation_function4(X,y,models,fold,w):
    size=int(len(X)/fold)
    l=0
    u=size
    scores=[]
    for f in range(fold):
#         print("l =",l,"u =",u,"")
        dfxtest=X.iloc[l:u,:]
        dfytest=y.iloc[l:u,:]
        dfxtrain=X.drop(X.iloc[l:u].index,axis=0)
        dfytrain=y.drop(X.iloc[l:u].index,axis=0)
        
        y_true=pd.Series(dfytest.iloc[:,0])
        
        model1.fit(dfxtrain,dfytrain.values.ravel())
        model2.fit(dfxtrain,dfytrain.values.ravel())
        model3.fit(dfxtrain,dfytrain.values.ravel())
        model4.fit(dfxtrain,dfytrain.values.ravel())
        model5.fit(dfxtrain,dfytrain.values.ravel())
        model6.fit(dfxtrain,dfytrain.values.ravel())
        model7.fit(dfxtrain,dfytrain.values.ravel())
        model8.fit(dfxtrain,dfytrain.values.ravel())
        model9.fit(dfxtrain,dfytrain.values.ravel())
        model10.fit(dfxtrain,dfytrain.values.ravel())
        model11.fit(dfxtrain,dfytrain.values.ravel())

        y_pred1=model1.predict(dfxtest)
        y_pred2=model2.predict(dfxtest)
        y_pred3=model3.predict(dfxtest)
        y_pred4=model4.predict(dfxtest)
        y_pred5=model5.predict(dfxtest)
        y_pred6=model6.predict(dfxtest)
        y_pred7=model7.predict(dfxtest)
        y_pred8=model8.predict(dfxtest)
        y_pred9=model9.predict(dfxtest)
        y_pred10=model10.predict(dfxtest)
        y_pred11=model11.predict(dfxtest)

            
        p=[0]*12
        for i in range(0,len(w)):
            p[i+1]=w[i]
        
        y_pred=(p[1]*y_pred1 + p[2]*y_pred2 + p[3]*y_pred3 + p[4]*y_pred4 + p[5]*y_pred5 + p[6]*y_pred6 + p[7]*y_pred7 + p[8]*y_pred8 + p[9]*y_pred9 + p[10]*y_pred10 + p[11]*y_pred11)
        sc=np.mean(np.abs((y_true - y_pred) / y_true))
        scores.append(sc)
        print("        FOLD  :",f)
        print("        Score :", sc)
        l=l+size
        u=u+size
    print("Final score is: ",np.mean(scores))
    return np.mean(scores)

In [168]:
w=[1/11]*11


model1 = LGBMRegressor(boosting_type='dart', max_depth=8, learning_rate=0.13, n_estimators=600,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model2= LGBMRegressor(boosting_type='dart', max_depth=9, learning_rate=0.19, n_estimators=400,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model3 = LGBMRegressor(boosting_type='dart', max_depth=8, learning_rate=0.24, n_estimators=350,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model4 = LGBMRegressor(boosting_type='dart',num_iterations=900 ,max_depth=7, learning_rate=0.09, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model5 = LGBMRegressor(boosting_type='dart', num_leaves=29,min_data_in_leaf=15 ,max_depth=7, learning_rate=0.09, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model6 = LGBMRegressor(boosting_type='dart', num_leaves=25, max_depth=7, learning_rate=0.13, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model7 = ensemble.GradientBoostingRegressor(n_estimators= 300, max_depth=7,learning_rate=0.054 , loss= 'ls',random_state=30)
model8 = XGBRegressor(max_depth=8,learning_rate=0.04, n_estimators=500,booster='gbtree',random_state=30)
model9 = XGBRegressor(max_depth=8,learning_rate=0.081, n_estimators=100,booster='gbtree',random_state=30)
model10 = RandomForestRegressor(max_depth=18, random_state=30,n_estimators=91)
model11= KNeighborsRegressor(n_neighbors=6,weights="distance")



model1.fit(dftrain_X,dftrain_y.values.ravel())
model2.fit(dftrain_X,dftrain_y.values.ravel())
model3.fit(dftrain_X,dftrain_y.values.ravel())
model4.fit(dftrain_X,dftrain_y.values.ravel())
model5.fit(dftrain_X,dftrain_y.values.ravel())
model6.fit(dftrain_X,dftrain_y.values.ravel())
model7.fit(dftrain_X,dftrain_y.values.ravel())
model8.fit(dftrain_X,dftrain_y.values.ravel())
model9.fit(dftrain_X,dftrain_y.values.ravel())
model10.fit(dftrain_X,dftrain_y.values.ravel())
model11.fit(dftrain_X,dftrain_y.values.ravel())

y_pred1=model1.predict(dftrain_X)
y_pred2=model2.predict(dftrain_X)
y_pred3=model3.predict(dftrain_X)
y_pred4=model4.predict(dftrain_X)
y_pred5=model5.predict(dftrain_X)
y_pred6=model6.predict(dftrain_X)
y_pred7=model7.predict(dftrain_X)
y_pred8=model8.predict(dftrain_X)
y_pred9=model9.predict(dftrain_X)
y_pred10=model10.predict(dftrain_X)
y_pred11=model11.predict(dftrain_X)

y_true=pd.Series(dftrain_y.iloc[:,0])
p=[0]*12
for i in range(0,len(w)):
    p[i+1]=w[i]
y_pred=(p[1]*y_pred1 + p[2]*y_pred2 + p[3]*y_pred3 + p[4]*y_pred4 + p[5]*y_pred5 + p[6]*y_pred6 + p[7]*y_pred7 + p[8]*y_pred8 + p[9]*y_pred9 + p[10]*y_pred10 + p[11]*y_pred11 )

print("Training Error : ", np.mean(np.abs((y_true - y_pred) / y_true)))

model1 = LGBMRegressor(boosting_type='dart', max_depth=8, learning_rate=0.13, n_estimators=600,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model2= LGBMRegressor(boosting_type='dart', max_depth=9, learning_rate=0.19, n_estimators=400,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model3 = LGBMRegressor(boosting_type='dart', max_depth=8, learning_rate=0.24, n_estimators=350,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model4 = LGBMRegressor(boosting_type='dart',num_iterations=900 ,max_depth=7, learning_rate=0.09, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model5 = LGBMRegressor(boosting_type='dart', num_leaves=29,min_data_in_leaf=15 ,max_depth=7, learning_rate=0.09, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model6 = LGBMRegressor(boosting_type='dart', num_leaves=25, max_depth=7, learning_rate=0.13, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model7 = ensemble.GradientBoostingRegressor(n_estimators= 300, max_depth=7,learning_rate=0.054 , loss= 'ls',random_state=30)
model8 = XGBRegressor(max_depth=8,learning_rate=0.04, n_estimators=500,booster='gbtree',random_state=30)
model9 = XGBRegressor(max_depth=8,learning_rate=0.081, n_estimators=100,booster='gbtree',random_state=30)
model10 = RandomForestRegressor(max_depth=18, random_state=30,n_estimators=91)
model11= KNeighborsRegressor(n_neighbors=6,weights="distance")

listofmodels=[model1,model2,model3,model4,model5,model6,model7,model8,model9,model10,model11]


newscore=cross_validation_function4(dftrain_X,dftrain_y,listofmodels,5,w)
print("Testing Cross Validation Error: ",newscore)

C:\ProgramData\Anaconda3\lib\site-packages\lightgbm\engine.py:116: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

Training Error :  0.07195523378492123

C:\ProgramData\Anaconda3\lib\site-packages\lightgbm\engine.py:116: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

        FOLD  : 0
        Score : 0.1275520988360718

C:\ProgramData\Anaconda3\lib\site-packages\lightgbm\engine.py:116: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

        FOLD  : 1
        Score : 0.1313034818099944

C:\ProgramData\Anaconda3\lib\site-packages\lightgbm\engine.py:116: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

        FOLD  : 2
        Score : 0.12364673538951014

C:\ProgramData\Anaconda3\lib\site-packages\lightgbm\engine.py:116: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

        FOLD  : 3
        Score : 0.1308716112652768

C:\ProgramData\Anaconda3\lib\site-packages\lightgbm\engine.py:116: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

        FOLD  : 4
        Score : 0.12847116418944649
Final score is:  0.1283690182980599
Testing Cross Validation Error:  0.1283690182980599

In [ ]:
w=[1/11]*11

#  Final Model

In [187]:
w=[1/10]*10


model1 = LGBMRegressor(boosting_type='dart', max_depth=8, learning_rate=0.13, n_estimators=600,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model2= LGBMRegressor(boosting_type='dart', max_depth=9, learning_rate=0.19, n_estimators=400,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model3 = LGBMRegressor(boosting_type='dart', max_depth=8, learning_rate=0.24, n_estimators=350,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model4 = LGBMRegressor(boosting_type='dart',num_iterations=900 ,max_depth=7, learning_rate=0.09, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model5 = LGBMRegressor(boosting_type='dart', num_leaves=29,min_data_in_leaf=15 ,max_depth=7, learning_rate=0.09, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model6 = LGBMRegressor(boosting_type='dart', num_leaves=25, max_depth=7, learning_rate=0.13, n_estimators=1000,objective='regression',metric='mape',tree_learner='serial',random_state=30, n_jobs=-1 )
model7 = ensemble.GradientBoostingRegressor(n_estimators= 300, max_depth=7,learning_rate=0.054 , loss= 'ls',random_state=30)
model8 = XGBRegressor(max_depth=8,learning_rate=0.04, n_estimators=500,booster='gbtree',random_state=30)
model9 = XGBRegressor(max_depth=8,learning_rate=0.081, n_estimators=100,booster='gbtree',random_state=30)
model10 = RandomForestRegressor(max_depth=18, random_state=30,n_estimators=91)



model1.fit(dftrain_X,dftrain_y.values.ravel())
model2.fit(dftrain_X,dftrain_y.values.ravel())
model3.fit(dftrain_X,dftrain_y.values.ravel())
model4.fit(dftrain_X,dftrain_y.values.ravel())
model5.fit(dftrain_X,dftrain_y.values.ravel())
model6.fit(dftrain_X,dftrain_y.values.ravel())
model7.fit(dftrain_X,dftrain_y.values.ravel())
model8.fit(dftrain_X,dftrain_y.values.ravel())
model9.fit(dftrain_X,dftrain_y.values.ravel())
model10.fit(dftrain_X,dftrain_y.values.ravel())

y_pred1=model1.predict(dftest_X)
y_pred2=model2.predict(dftest_X)
y_pred3=model3.predict(dftest_X)
y_pred4=model4.predict(dftest_X)
y_pred5=model5.predict(dftest_X)
y_pred6=model6.predict(dftest_X)
y_pred7=model7.predict(dftest_X)
y_pred8=model8.predict(dftest_X)
y_pred9=model9.predict(dftest_X)
y_pred10=model10.predict(dftest_X)

# y_true=pd.Series(dftest_y.iloc[:,0])
p=[0]*11
print("p is :",p)
for i in range(0,len(w)):
    p[i+1]=w[i]
print("p is :",p)
y_pred=(p[1]*y_pred1 + p[2]*y_pred2 + p[3]*y_pred3 + p[4]*y_pred4 + p[5]*y_pred5 + p[6]*y_pred6 + p[7]*y_pred7 + p[8]*y_pred8 + p[9]*y_pred9 + p[10]*y_pred10 )

# print("Training Error : ", np.mean(np.abs((y_true - y_pred) / y_true)))

C:\ProgramData\Anaconda3\lib\site-packages\lightgbm\engine.py:116: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

p is : [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
p is : [0, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

In [188]:
submissiondf['SaleDollarCnt']=y_pred

In [189]:
submissiondf.head()

   PropertyID  SaleDollarCnt
0    48735321   2.098852e+06
1    48735471   1.021119e+06
2    49128764   5.483433e+05
3    48897535   4.510677e+05
4    49083957   1.173107e+06

In [190]:
submissiondf.isna().sum()

PropertyID       0
SaleDollarCnt    0
dtype: int64

In [191]:
submissiondf.to_csv("Zillow_submission.csv",index=False)

In [192]:
temp=pd.read_csv("Zillow_submission.csv")

In [194]:
temp.head()

   PropertyID  SaleDollarCnt
0    48735321   2.098852e+06
1    48735471   1.021119e+06
2    49128764   5.483433e+05
3    48897535   4.510677e+05
4    49083957   1.173107e+06

In [193]:
temp.describe()

         PropertyID  SaleDollarCnt
count  4.402000e+03   4.402000e+03
mean   5.348500e+07   6.104573e+05
std    1.363566e+07   4.168253e+05
min    4.864910e+07   1.731052e+05
25%    4.880002e+07   3.611430e+05
50%    4.894242e+07   5.103534e+05
75%    4.909140e+07   7.216855e+05
max    1.244396e+08   5.768310e+06

In [186]:
dftrain.describe()

,PropertyID,SaleDollarCnt,censusblockgroup,Usecode,BedroomCnt,BathroomCnt,FinishedSquareFeet,GarageSquareFeet,LotSizeSquareFeet,StoryCnt,...,Latitude,Longitude,BGMedHomeValue,BGMedRent,BGMedYearBuilt,BGPctOwn,BGPctVacant,BGMedIncome,BGPctKids,BGMedAge
count,1.158800e+04,1.158800e+04,1.158800e+04,11588.0,11588.000000,11588.000000,11588.000000,8747.000000,1.158800e+04,11588.000000,...,1.158800e+04,1.158800e+04,1.158200e+04,8957.000000,11341.000000,11588.000000,11588.000000,11588.000000,11588.000000,11588.000000
mean,5.502866e+07,6.137157e+05,5.300000e+11,9.0,3.451800,2.327628,2199.899249,490.981022,1.601437e+04,1.528571,...,4.755070e+07,-1.221995e+08,4.337194e+05,1235.541699,1973.356406,0.747764,0.050873,94859.222817,0.360058,39.772886
std,1.605832e+07,4.577593e+05,0.000000e+00,0.0,0.865682,0.872601,936.877939,220.434500,4.324446e+04,0.521864,...,1.424218e+05,1.417068e+05,1.781283e+05,394.371247,17.786514,0.196277,0.058676,36285.661949,0.140494,6.726432
min,4.864894e+07,2.000000e+04,5.300000e+11,9.0,1.000000,0.750000,270.000000,10.000000,1.034000e+03,1.000000,...,4.716120e+07,-1.225150e+08,1.480000e+04,185.000000,1939.000000,0.000000,0.000000,17500.000000,0.000000,18.200000
25%,4.880374e+07,3.550000e+05,5.300000e+11,9.0,3.000000,1.750000,1530.000000,380.000000,5.683750e+03,1.000000,...,4.744830e+07,-1.223147e+08,3.020000e+05,933.000000,1960.000000,0.618700,0.000000,69167.000000,0.260700,35.000000
50%,4.895489e+07,5.050000e+05,5.300000e+11,9.0,3.000000,2.500000,2060.000000,476.000000,7.886500e+03,2.000000,...,4.756348e+07,-1.222056e+08,3.969000e+05,1173.000000,1975.000000,0.802200,0.038900,90455.000000,0.352600,39.400000
75%,4.910697e+07,7.150000e+05,5.300000e+11,9.0,4.000000,3.000000,2700.000000,600.000000,1.111100e+04,2.000000,...,4.767496e+07,-1.221112e+08,5.256000e+05,1508.000000,1987.000000,0.903800,0.080800,114306.000000,0.444200,43.800000
max,1.244354e+08,7.880000e+06,5.300000e+11,9.0,9.000000,9.500000,12130.000000,7504.000000,1.157824e+06,3.000000,...,4.785848e+07,-1.211670e+08,1.000001e+06,2001.000000,2005.000000,1.000000,0.638400,250001.000000,0.934100,70.200000